@charset "utf-8";




html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'bebasneue-bold';
    src: url('../fonts/bebas_neue/bebasneue-bold.woff2') format('woff2');
    src: url('../fonts/bebas_neue/bebasneue-bold.woff') format('woff');
    src: url('../fonts/bebas_neue/bebasneue_bold.ttf') format('truetype');
}

@font-face {
    font-family: 'bebasneue-book';
    src: url('../fonts/bebas_neue/bebas_neue-book.woff2') format('woff2');
    src: url('../fonts/bebas_neue/bebas_neue-book.woff') format('woff');
    src: url('../fonts/bebas_neue/bebasneue_book.ttf') format('truetype');
}

@font-face {
    font-family: 'bebasneue-light';
    src: url('../fonts/bebas_neue/bebasneue-light.woff2') format('woff2');
    src: url('../fonts/bebas_neue/bebasneue-light.woff') format('woff');
    src: url('../fonts/bebas_neue/bebasneue_light.ttf') format('truetype');
}

@font-face {
    font-family: 'bebasneue-regular';
    src: url('../fonts/bebas_neue/bebasneue-regular.woff2') format('woff2');
    src: url('../fonts/bebas_neue/bebasneue-regular.woff') format('woff');
    src: url('../fonts/bebas_neue/bebasneue_regular.ttf') format('truetype');
}

@font-face {
    font-family: 'bebasneue-thin';
    src: url('../fonts/bebas_neue/bebasneue-thin.woff2') format('woff2');
    src: url('../fonts/bebas_neue/bebasneue-thin.woff') format('woff');
    src: url('../fonts/bebas_neue/bebasneue_thin.ttf') format('truetype');
}

.link {
  text-decoration: none;
  color: inherit;
}

body {
  cursor: defult; !important
}


.main {
  padding: 50px;
}

.intro {
  font-family: 'bebasneue-bold';
  color: #bd4e4e;
  font-size: 70px;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 2px solid #bd4e4e;
}

.intro .text {
  margin-bottom: -16px;
  max-width: 80%;
}

.intro .logo-container {
  position: absolute;
  top: 50px;
  right: 50px;
  height: 57px;
  width: 57px;
}

.intro .logo {
  height: 100%;
}

.main {
  width: 100%;
}

.main .grid {
  width: 100%;
  display: flex;
}

.grid .item {
  height: auto;
  margin-right: 50px;
  opacity: 0;
  margin-top: 50px;
}

#item-3 {
  margin-right: 0;
}

.grid .item .content {
  width: 100%;
  height: 100%;
}

.grid .item .content .image-container {
  width: 100%;
  overflow: hidden;
}

.grid .item .content .image {
  width: 100%;
  transform: scale(1.02);
}

.grid .item .text-container {
  width: 100%;
  height: 40px;
  background-color: #bd4e4e;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: all .3s ease;
}

.grid .item .button-link {
  width: 100%;
}

.grid .item .button {
  width: 100%;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  letter-spacing: 1px;
}

.grid .button .text {
  font-family: 'bebasneue-light';
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  width: 100px;
  height: 25px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 5px;
  transition: all .3s ease;
}

.grid .item .text-container:hover .text {
  border: none;
  background-color: rgba(250, 250, 250, .4);
  /*
  color: #bd4e4e;
  */
}

.grid .item .text:hover {
  cursor: default;
}



.important {
  position: fixed;
  z-index: 7000;
  top: 0;
  right: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(150, 150, 150, .7);

  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.important .content {
  display: flex;
  flex-direction: column;
}

.important .image-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.important .image {
  width: 100%;
}

.important .text {
  width: 250px;
  text-align: left;
  padding: 15px;
  font-family: 'bebasneue-thin';
  letter-spacing: 1px;
  color: #5f605f;
  background-color: #f8e6e4;
}

.important .button {

  width: 100%;
  height: auto;

  font-family: 'bebasneue-regular';
  color: #fff;
  margin-top: 15px;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.important .button-item:hover {
  border: none;
  background-color: #d39394;

}

.important .button-item {
  background-color: #bd4f4f;
  padding: 5px;
  padding-top: 8px;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  transition: all .3s ease;
}






#myModal {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, .9);
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  align-items: center;
  justify-content: center;
  text-align: center;


}

.mySlides {
  width: 100%;
  height: 100vh;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mySlides .content {
  position: relative;

  height: 500px;
  width: 700px;
  max-width: 100%;

  display: flex;
  flex-direction: row;

}

.mySlides .image-container {
  height: 500px;
  width: 500px;
  overflow: hidden;
}

.mySlides .image {
  overflow: hidden;
  width: 100%;

}

.mySlides .text-container {
  position: relative;
  width: 200px;
  height: 500px;
  background-color: #f9e7e5;
  text-align: left;
  padding: 15px;
  hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}

.mySlides .name {
  font-family: 'bebasneue-bold';
  color: #bd4f4f;
  font-size: 30px;
  padding-bottom: 11px;
  border-bottom: 1px solid #5f605f;
  margin-bottom: 15px;
  hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}

.mySlides .price {
  color: #5f605f;
  font-family: 'bebasneue-regular';
  margin-bottom: 10px;
  font-size: 25px;
}

.mySlides .about {
  color: #5f605f;
  font-family: 'bebasneue-light';
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-size: 15px;
}

.mySlides .about-2 {
  font-size: 12px;
  color: #5f605f;
  font-family: 'bebasneue-light';
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.mySlides .button {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 100%;

  font-family: 'bebasneue-regular';
  color: #fff;
  padding: 15px;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mySlides .button-item {
  background-color: #bd4f4f;
  padding: 5px;
  padding-top: 8px;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  transition: all .3s ease;
}

.mySlides .button-item:hover {
  border: none;
  background-color: #d39394;
  cursor: default;
}

.close.cursor {
  position: absolute;
  color: #fff;
  left: 15px;
  top: 5px;
  font-size: 30px;
  cursor: default;
  transition: all .3s ease;
}

.close.cursor:hover {
  color: #f9e7e5;
}


































@media all and (max-width: 700px) {



  #myModal {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, .9);
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    align-items: center;
    justify-content: center;
    text-align: center;


  }

  .mySlides {
    width: 100%;
    height: 100vh;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .mySlides .content {
    position: relative;

    height: 100vh;
    width: 100%;
    padding: 15px;

    display: flex;
    flex-direction: column;

  }

  .mySlides .image-container {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .mySlides .image {
    overflow: hidden;
    width: 100%;

  }

  .mySlides .text-container {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #f9e7e5;
    text-align: left;
    padding: 15px;
    hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
  }

  .mySlides .name {
    font-family: 'bebasneue-bold';
    color: #bd4f4f;
    font-size: 30px;
    padding-bottom: 11px;
    border-bottom: 1px solid #5f605f;
    margin-bottom: 15px;
    hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
  }

  .mySlides .price {
    color: #5f605f;
    font-family: 'bebasneue-regular';
    margin-bottom: 10px;
    font-size: 25px;
  }

  .mySlides .about {
    color: #5f605f;
    font-family: 'bebasneue-light';
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-size: 15px;
  }

  .mySlides .about-2 {
    font-size: 12px;
    color: #5f605f;
    font-family: 'bebasneue-light';
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  .mySlides .button {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 100%;

    font-family: 'bebasneue-regular';
    color: #fff;
    padding: 15px;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .mySlides .button-item {
    background-color: #bd4f4f;
    padding: 5px;
    padding-top: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    transition: all .3s ease;
  }

  .mySlides .button-item:hover {
    border: none;
    background-color: #d39394;
  }

  .close.cursor {
    position: absolute;
    color: #fff;
    left: 30px;
    top: 20px;
    font-size: 40px;
    cursor: default;
    transition: all .3s ease;
    z-index: 3000;
  }

  .close.cursor:hover {
    color: #f9e7e5;
  }



  .main .grid {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .grid .item {
    width: 100%;
    margin-bottom: 50px;
  }

  .grid .item:last-child {
    margin-bottom: 0;
  }

  .grid .item .text-container {
    width: 100%;
    height: 60px;
    background-color: #bd4e4e;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: all .3s ease;
  }



}
